.profile__edit-button {
    background-image: url(../../../images/Edit.svg);
    background-color: transparent;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    display: inline-block;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 644px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}