.popup__input {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #000000;
    padding: 0;
    margin-bottom: 30px;
    padding-bottom: 13px;
    overflow: hidden;
}

.popup__input:nth-last-child(2) {
    margin-bottom: 48px;
}

@media screen and (max-width: 644px) {
    .popup__input {
        width: 238px;
        height: 14px;
    }
    .popup__input:nth-last-child(2) {
        margin-bottom: 45px;
    }
}
