.card__item-title {
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    width: calc(100% - 21px);
    max-width: 250px;
    margin: 25px 15px 31px 21px;
    color: #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
}