.profile__avatar-position {
    margin-right: 26.25px;
    position: relative;
    margin-left: 10px;
}

@media screen and (max-width: 620px) {
    .profile__avatar-position {
        margin: 0 0 22.25px 0;
    }
}