.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    width: 336px;
    height: 18px;
    margin: 16px 0 0 0;
}

@media screen and (max-width: 620px) {
    .profile__subtitle {
        width: 282px;
        height: 15px;
        font-size: 14px;
        line-height: 16.94px;
        margin: 0;
    }
}