.profile__add-button {
    background-image: url(../../../images/plus.svg);
    min-width: 150px;
    min-height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 0;
    border: 2px solid #fff;
    background-position: 50%;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 644px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px;
    }
}