.card__item-like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding-right: 35px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.card__item-like-button:hover {
    opacity: .6;
}