.footer__text {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 929px) {
    .footer__text {
        text-align: start;
    }
}

@media screen and (max-width: 644px) {
    .footer__text {
        font-size: 14px;
        line-height: 16.94px;
    }
}