.popup__close {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, .1);
    border: 0;
    background-image: url("../../../images/Close.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -35px;
    right: -35px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    background-color: transparent;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 644px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}